*.dll
*.mdb
*.resources
Jrk/JrkCmd/JrkCmd
Jrk/JrkExample/JrkExample
Maestro/MaestroAdvancedExample/MaestroAdvancedExample
Maestro/MaestroEasyExample/MaestroEasyExample
Maestro/UscCmd/UscCmd
SimpleMotorController/SmcCmd/SmcCmd
SimpleMotorController/SmcExample1/SmcExample1
SimpleMotorController/SmcExample2/SmcExample2
UsbAvrProgrammer/PgmCmd/PgmCmd
/.vs/pololu-usb-sdk/v15
/.vs
/Jrk/Jrk/obj
/Jrk/JrkCmd/obj
/Jrk/JrkExample/obj
/Maestro/MaestroAdvancedExample/obj
/Maestro/MaestroEasyExample/obj
/Maestro/MaestroEasyExampleVb/obj
/Maestro/Sequencer/obj
/Maestro/Usc/obj
/Maestro/UscCmd/obj
/SimpleMotorController/.vs/Smc/v15
/SimpleMotorController/SmcExample2/bin/Debug
/SimpleMotorController/SmcExample2/obj
/UsbAvrProgrammer/PgmCmd/obj
/UsbAvrProgrammer/Programmer/obj/Debug
/UsbAvrProgrammer/Programmer/obj/Release
/SimpleMotorController/SmcExample1Vb/obj
/SimpleMotorController/Smc/obj
/SimpleMotorController/Smc/bin/Debug
/SimpleMotorController/SmcCmd/bin/Debug
/SimpleMotorController/SmcCmd/obj
/SimpleMotorController/SmcExample1/bin/Debug
/SimpleMotorController/SmcExample1/obj
/SimpleMotorController/Smc.Core/obj
/UsbAvrProgrammer/.vs/UsbAvrProgrammer/v15/Server/sqlite3
/SimpleMotorController/.vs/Smc/DesignTimeBuild
/SimpleMotorController/Smc.Standard/bin/Debug/netstandard2.0
/SimpleMotorController/Smc.Standard/obj
/UsbAvrProgrammer/.vs/UsbAvrProgrammer/v15
/SimpleMotorController/Smc/bin/Release
/SimpleMotorController/Smc.Standard/bin/Release/netstandard2.0
/SimpleMotorController/SmcCmd/bin/Release
/SimpleMotorController/SmcExample1/bin/Release
/SimpleMotorController/SmcExample2/bin/Release
